@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

@layer base {
  /* essa estilização na media-screen diminui a font de 16px(padrão) para 15px e 14px respectivamente */
  @media (max-width: 1080px) {
    html {
      font-size: 93.75%;
    }
  }

  @media (max-width: 720px) {
    html {
      font-size: 87.5%;
    }
  }
}
